<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lanqiao.dao.UserDao">
	<resultMap type = "User" id = "UserResultMap">
		<id property = "id" column = "id" />
		<result property = "uname" column = "uname" />
		<result property = "psw" column = "psw" />
	</resultMap>
	
	<select id="login" parameterType="User" resultMap="UserResultMap">
		select * from user where uname=#{uname} and psw=#{psw}
	</select>
	
	<select id="register" parameterType="User" resultMap="UserResultMap">
		add * from user where uname=#{uname} and psw=#{psw}
	</select>
</mapper>